@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 0.4em;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;
      background: rgb(240, 240, 240);
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: rgb(170, 170, 170);
      border-radius: 100vh;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: rgb(150, 150, 150);
    }
  }